* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(37, 230, 97);
  background: radial-gradient(
    circle,
    rgba(37, 230, 97, 0.6166841736694677) 50%,
    rgba(30, 200, 235, 1) 100%
  );
}

.container {
  display: flex;
  overflow: auto;
}

/* Login Container Styling */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  height: 100vh;
  margin: auto;
}

.login_form {
  width: 100%;
  padding: 1rem;
  margin: 0 1rem;
  background: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form h1 {
  margin: 2rem 0;
  text-transform: uppercase;
  border-bottom: 0.2rem solid cornflowerblue;
}

.login_field {
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.login_field input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0.5px solid cornflowerblue;
  border-radius: 1rem;
  outline: none;
}

.login_button {
  border: 0.5px solid cornflowerblue;
  padding: 1rem 3rem;
  background: rgb(66, 202, 243);
  text-decoration: none;
  text-transform: uppercase;
  margin: 2rem 0;
  border-radius: 1rem;
  color: black;
  cursor: pointer;
}

.login_button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Left Container Styling */

.container .left_box {
  width: 11rem;
  margin: 1rem;
  position: fixed;
  z-index: 1;
}
.container .left_box input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: lightgrey;
  border: 0.2rem solid cornflowerblue;
  border-radius: 1rem;
  outline: none;
}

.container .left_box li {
  list-style: none;
  padding: 0.1rem;
}

.container .left_box li span {
  float: right;
  padding-right: 0.5rem;
}
.container .left_box button {
  width: 100%;
  padding: 0.3rem 0;
  border: none;
}
.active {
  background: lightyellow;
}

/* Right Container Styling */

.container .right_box {
  width: 100%;
  height: 90vh;
  margin-left: 13rem;
  overflow: scroll;
  font-size: 1rem;
}

.container .right_box .top_bar {
  background: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 10vh;
  top: 0;
  position: sticky;
}

.container .right_box .posts_lists {
  margin-top: 0.5rem;
}

.container .right_box button i {
  font-size: 2rem;
  padding: 0.5rem;
  color: cornflowerblue;
}

.container .right_box input {
  padding: 0.5rem;
  border: 0.2rem solid cornflowerblue;
  border-radius: 1rem;
  outline: none;
}

.container .right_box ul {
  padding: 0.1rem;
}

.container .right_box li {
  list-style: none;
  padding: 0.5rem;
  background: lightyellow;
}
